{% extends "index.html" %}


{% block heroslider %}
<div class="page_title2" style="padding:150px 0px 50px 0px;">
    <div class="container">

        <h1>People</h1>

    </div>
</div><!-- end page title -->
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'People' 'list_people' %}
{% endblock %}

{% block main_body %}

{% if perms.crm %}
	<ul class='header-actions-left'>
	{% if perms.auth.add_user %}
		<li><a href='{% url create_person %}'>Create Person</a></li>
	{% endif %}
	</ul>
{% endif %}

<form class='search' accept-charset='UTF-8' method='get' action=''>
	<ul>
		{{ form.as_ul }}
		<li class='form-buttons'>
			<input class="but_small1" style="border:none;cursor:pointer;cursor:hand;" type='submit' name='submit' value='Search &rarr;' />
		</li>
	</ul>
</form>

{% load pagination_tags %}
{% autopaginate people %}

{% paginate %}
<div class="table-responsive">
		<table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
					<th>E-mail</th>
					<th>Phone Number(s)</th>
					<th>Notes</th>
                </tr>
                </thead>
                <tbody>
					{% for person in people %}
				<tr>
					<td class='name'><a href='{% url view_person person_id=person.id %}'>{{ person.get_full_name }}</a></td>
					<td><a href='mailto:{{ person.email }}'>{{ person.email }}</a></td>
					<td class='phone'>
						{% for location in person.locations.all %}
							{% for phone in location.phones.all %}
							<a href='sip://1-{{ phone }}'>{{ phone }}</a> ({{ phone.type }})<br />
							{% endfor %}
						{% endfor %}
					</td>
					<td>{{ person.notes }}</td>
				</tr>
					{% endfor %}
                </tbody>
            </table>
    
	</div>
{% paginate %}

{% endblock %}
