{% extends "index.html" %}
{% load markup %}


{% block heroslider %}
<div class="page_title2" style="padding:150px 0px 50px 0px;">
    <div class="container">

        <h1>Remove Interaction</h1>

    </div>
</div><!-- end page title -->
{% endblock %}

{% block main_body %}
<div class="row container" style="margin-bottom: 40px;">
	<div class="large-12 columns">

		<h2>Remove {{ interaction }}</h2>
		<p>
			Are you sure you want to remove the {{ interaction.type }} interaction dated 
			{{ interaction.date|date:"l M t, Y" }} with the following memo?
		</p>
		<p>{{ interaction.memo }}</p>
		<form accept-charset='UTF-8' method='post' action=''>
			<table border='0' cellspacing='0' cellpadding='0' class='spacing'>
				<tr>
					<td class='submit'>
						<input class="but_small1" style="border:none;cursor:pointer;cursor:hand;" type='button' value='Cancel' onclick='history.go(-1)'/>
						&nbsp;	
						<input class="but_small1" style="border:none;cursor:pointer;cursor:hand;" type='submit' name='submit' value='Remove &rarr;' />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}
