{% extends "base.html" %}

<!-- header meta -->
{% block facebook_meta %}{% endblock %}
{% block forum_meta %}{% endblock %}
{% block module_meta %}

{% endblock %}

{% block seo_meta %}
	<meta name="description" content="Looking for an asia crowdfunding company? CoAssets is a business networking for property investment and equity crowdfunding enthusiasts." />
	<meta name="keywords" content= "Crowdfunding,Property Investment,Real Estate Investment,Equity Crowdfunding,Peer to Peer Lending,Asia Crowdfunding,Real Estate Investment Trust,Real Estate Funds" />
    <link rel="canonical" href="https://www.coassets.com/" />
{% endblock %}


{% block metatitle %}
    <title>CoAssets|First real estate investments platform in Singapore &amp; Southeast Asia</title>
{% endblock %}

<!--end header meta -->



<!--logo-->
{#{% block logo %}#}
{#    <div id="logo-wrapper">#}
{#        <div class="logo">#}
{#            <a href="/" title="coassets">#}
{#                <img src="{{ MEDIA_URL }}index_02.png"/>#}
{#            </a>#}
{#            <p>#}
{#                Connecting Investors with Real Estate Projects#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

<!-- header content -->
{% block header %}


    <header class="header">
        <div class="container">
            <!--Logo-->
            <div class="logo">
                <a href="/" title="coassets" id="logo">
                </a>
            </div>

            <!--Navigation Menu-->
            <nav class="menu_main">
                <div class="navbar yamm navbar-default">
                    <div class="container">

                        <div class="navbar-header">
                            <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1"  > <span>Menu</span>

                                    <i class="fa fa-bars" style="float:right;"></i>

                            </div>
                        </div>


                        <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
                            <ul class="nav navbar-nav">

                                


                                <li ><a href="{% url list_people %}"  >People</a>
                                    
                                </li>



                                <li ><a href="{% url list_businesses %}">Business</a>
                                    
                                </li>


                                


                                
                                {% if request.user.is_authenticated %}
                                    <li ><a href="{% url crm_dashboard %}">Dashboard</a>
                                        
                                    </li>
                                     <!--{% if request.user.profile.offer_groups.all or request.user.profile.is_offer_owner%}-->
                                    <!--{% else %}-->
                                        <!--<li class="dropdown">-->
                                        <!--<a href="" data-toggle="dropdown" class="dropdown-toggle" style=" text-transform: uppercase;">-->
                                        <!--<div class="row">-->
                                            <!--<div class="username" style="float:left;">-->

                                                  <!--{{request.user.username}}-->
                                            <!--</div>&lt;!&ndash;end username&ndash;&gt;-->

                                            <!--&lt;!&ndash;Profile Photo-&ndash;&gt;-->
                                            <!--<div class="userimage" style="float:right;padding-left:10px!important;margin-top:-6px!important;">-->
                                                <!--&lt;!&ndash;profile photo&ndash;&gt;-->
                                                <!--{% if user.investor_profile.profile_picture %}-->
                                                    <!--<div class="rounded-profile-photo" style="background-image:url('{{MEDIA_URL}}{{user.investor_profile.profile_picture}}');width:33px;height:33px;"></div>-->
                                                    <!--&lt;!&ndash;<img id="image" src="{{MEDIA_URL}}{{invest_profile.profile_picture}}"&ndash;&gt;-->
                                                    <!--&lt;!&ndash;alt="" class="img-thumbnail" style="min-height:150px; min-width:180px;box-shadow: 5px 5px 2px #888888;" >&ndash;&gt;-->
                                                <!--{% elif invest_profile.alternate_pic %}-->
                                                    <!--<div class="rounded-profile-photo" style="background-image:url('{{user.investor_profile.alternate_pic}}');width:33px;height:33px;"></div>-->
                                                <!--{% else %}-->
                                                    <!--<div class="rounded-profile-photo" style="background-image:url('{{ MEDIA_URL }}portrait_ph.jpg');width:33px;height:33px;"></div>-->
                                                <!--{% endif %}-->

                                            <!--</div>&lt;!&ndash;end userimage&ndash;&gt;-->

                                        <!--</div>-->
                                    <!--</a>-->
                                        <!--<ul class="dropdown-menu stwo multilevel" role="menu">-->
                                        <!--<li><a href="/profile/">Profile</a></li>-->
                                    <!--{% endif %}-->
                                <li><a href="{% url auth_logout %}" class="LogIn">LOG OUT</a></li>

                                {% else %}
                                
                                    <li><a href="{% url auth_login %}" class="LogIn">LOG IN</a></li>
                                {% endif %}
                            </ul><!--nav narbar-nav-->

                        </div> <!---navbar-collapse-1-->
                    </div><!--container-->
                </div> <!--navbar yamm navbar-default-->
            </nav>
        </div><!--Container-->
    </header>

{% endblock %}

<!--end header content -->




<!--containercenter content-->
{% block tagline %}
{% endblock %}

{% block heroslider %}
{% endblock %}

{% block events %}
{% endblock %}

{% block picmenu %}
{% endblock %}

{%block content%}{%endblock%}
<!--
{% block main_body %}
{% endblock %}

{% block script_body %}
{% endblock %}-->
<!-- end containercenter content -->


<!-- footer content -->

<div class="clearfix"></div>

{% block footer %}
    <style type="text/css">
        #footer-content h4{
            color:#aaa;
        }
    </style>
<footer class="footer style2">
    <div class="container">

        

        <div class="one_third">
            <div id="footer-content" class="row top-margin">
                <img src="{{ MEDIA_URL }}images/company.png" width="150" />
                <select id="office-select" style="color:black;">
                    <option value="SG">Singapore Office</option>
                    <option value="MY">Malaysia Office</option>
                    <option value="AU">Australia Office</option>
                </select>
                <div id='sg-office' style="color:white;">
                    CoAssets Pte Ltd<br/>
                    (reg #:201310357R)<br/>
                    38C North Canal Road, <br/>
                    Singapore 059294 <br/>
                    Tel: +65-6532 7008
                </div>
                <div id='my-office' style="color:white;display:none;">
                    CoAssets Sdn Bhd<br/>
                    (reg #: 1058756K)<br/>
                    Level 30, The Gardens North Tower,  <br/>
                    Mid Valley City, Lingkaran Syed Putra, <br/>
                    59200 Kuala Lumpur, Malaysia <br/>
                    Tel: +60-320 359 662
                </div>
                <div id="au-office" style="color:white;display:none;">
                    CoAssets Ltd<br/>
                    (ACN 604 341 826)<br/>
                    Office J, Level 2, <br/>
                    1139 Hay Street West Perth WA 6005
                </div>
            </div>
        </div>

        


        <script type="text/javascript">
            jQuery("#office-select").change(function(){
                var office = jQuery("#office-select").val();
                console.log(office);
                if (office == 'SG') {
                    jQuery("#sg-office").show();
                    jQuery("#my-office").hide();
                    jQuery('#au-office').hide();
                } else if (office == 'MY') {
                    jQuery("#sg-office").hide();
                    jQuery("#my-office").show();
                    jQuery('#au-office').hide();
                } else {
                    jQuery("#sg-office").hide();
                    jQuery("#my-office").hide();
                    jQuery('#au-office').show();
                }
            });
        </script>

        
    </div>
</footer>

    <div class="clearfix"></div>


{##}
{#      <div class="copyright_info two">#}

{#</div><!-- end copyright info -->#}




{% endblock %}

<div class="clearfix"></div>


</div>
