{% extends "index.html" %}

{% block heroslider %}
<div class="page_title2" style="padding:150px 0px 50px 0px;">
    <div class="container">

        <h1>Edit Business Relationship</h1>

    </div>
</div><!-- end page title -->
{% endblock %}

{% block main_body %}

<h2>Edit {{ user.get_full_name }}'s {{ business }} Relationship</h2>
<div class="row container" style="margin-bottom: 40px;">
	<div class="large-12 columns">
		<form id="edit-business-relationship" action="" method="post" accept-charset="utf-8">
			{% csrf_token %}
			<div class="reg_form" >
				<table class='vertical'>
					{{ relationship_form.as_p }}
					<tr>
						<td>&nbsp;</td>
						<td class='submit'>
							<input class="but_small1" style="border:none;cursor:pointer;cursor:hand;" type='button' value='Cancel' onclick='history.go(-1)' />
							&nbsp;
							<input class="but_small1" style="border:none;cursor:pointer;cursor:hand;" type='submit' name='submit' value='Save &rarr;' />
						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</div>

{% endblock %}
